<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                
            </ul>
            <h3 class="text-muted">Caelum Estoque</h3>
        </div>
        <div class="conteudo">
            @RenderBody()
        </div>
    </div>
</body>
</html>
