<form action="/Categoria/Adiciona" method="post">
    <label for="nome">Nome:</label>
    <input id="nome" name="categoria.Nome" class="form-control" />

    <label for="descricao">Descricao:</label>
    <input id="descricao" name="categoria.Descricao" class="form-control" />

    <label for="id">ID:</label>
    <input id="id" name="categoria.Id" class="form-control" />

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>