<form action="/Login/Autentica" method="post">
    <label for="login">Login:</label>
    <input type="text" id="login" name="login" class="form-control" />

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" class="form-control" />

    <button type="submit" class="btn btn-primary">Autenticar</button>
</form>